@charset "UTF-8";

/*configuraçoes gerais (all)*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

